/* Wrapper */
.dashboard-wrapper {
  display: flex;
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f6f8;
}

/* Main content area */
.dashboard-content {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
}

.dashboard-content h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.header-row {
  display: flex;
  /* justify-content: space-between; */
  gap: 50px;
  align-items: center;
  margin-bottom: 20px;
}

.header-row h2 {
  font-size: 30px;
  font-weight: 600;
  margin: 20px 0 0 0;
}

.batch-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.batch-card {
  background-color: #f4f4f4;
  border-radius: 12px;
  padding: 16px 32px;
  width: 500px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  transition: transform 0.2s ease;
}

.batch-card:hover {
  transform: scale(1.01);
}

.batch-card h3 {
  margin-top: 0;
  color: #007bff;
  font-size: 20px;
}

.batch-card ul {
  padding-left: 16px;
}

.batch-card li {
  margin-bottom: 4px;
}
