<div class="dashboard-wrapper">
  <app-sidebar></app-sidebar>

  <div class="dashboard-content">
    <div class="courses-page">
      <div class="header-row">
        <h2>Batches</h2>
        <button class="add-btn" (click)="openModal()">+ Add Batch</button>
      </div>

      <table>
        <thead>
          <tr>
            <th>#ID</th>
            <th>Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let b of batches">
            <td>{{ b.id }}</td>
            <td>{{ b.name }}</td>
            <td>
              <button class="edit" (click)="edit(b.id!)">Edit</button>
              <button class="delete" (click)="delete(b.id!)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Custom Modal for Add/Edit -->
  <div class="modal-overlay" *ngIf="showModal">
    <div class="modal-box">
      <h3>{{ isEditing ? 'Edit Batch' : 'Add Batch' }}</h3>
      <form>
        <input
          type="text"
          [(ngModel)]="b1.name"
          name="name"
          placeholder="Enter Batch Name"
        />
      </form>
      <div class="modal-actions">
        <button (click)="saveCourse()">
          {{ isEditing ? 'Update' : 'Save' }}
        </button>
        <button class="cancel" (click)="closeModal()">Cancel</button>
      </div>
    </div>
  </div>
</div>
